<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.camera.capability.manual_sensor" />
    <uses-feature android:name="android.hardware.camera.external" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/my_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/my_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyMarketList"
        android:usesCleartextTraffic="true"
        tools:targetApi="34">
        <activity
            android:name=".view.vActivities.SuggestActivity"
            android:exported="false"
            android:parentActivityName=".view.vActivities.ControlPanelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.vActivities.EditActivity"
            android:exported="false"
            android:parentActivityName=".view.vActivities.ListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.vActivities.StatsActivity"
            android:exported="false"
            android:parentActivityName=".view.vActivities.ControlPanelActivity" />
        <activity
            android:name=".view.vActivities.ListActivity"
            android:exported="false"
            android:parentActivityName=".view.vActivities.ControlPanelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.vActivities.CatalogueActivity"
            android:exported="false"
            android:parentActivityName=".view.vActivities.ControlPanelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.vActivities.ControlPanelActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.vActivities.RegisterActivity"
            android:exported="false"
            android:parentActivityName=".view.vActivities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.vActivities.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyMarketList.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>